.wh {
    width: 500px;
    height: 500px;
}

.default {
    background-color: rgb(190, 9, 190);
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.pink{
    background-color: rgb(235, 46, 78);
}

.green {
    background-color: green;
}